.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.logo {
  font-family: "Gloria Hallelujah";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 1.5rem;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.25rem;
}
.account {
  margin-right: 10px;
  font-size: 1.25rem;
  background: #232023;
  border-radius: 5px;
  color: #ffffff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  cursor: pointer;
}
